{% load otree static %}

<div class="row">
  <div class="col">
    <br>
    <p>
      <button class="btn btn-secondary" type="button" id="instruct_btn" onclick=ShowInstruct()> Zeige Instruktionen
      </button><br>
    </p>
    <p>
    <div id='instruct' class="instructions well well-lg" xmlns="http://www.w3.org/1999/html"
      style="display: none;border-style: solid;">
      <p>
        <b>Hinweis</b>: Sollten Sie während des Experiments fragen haben, melden Sie sich mit Hilfe der Chatfunktion
        in der Webex-Konferenz beim Administrator.

      </p>
      {% include "truncated_reporting/explanation.html" %}

    </div>
  </div>
</div>

<script>
  // Show/Hide Instructions
  function ShowInstruct() {
    var instruct = document.getElementById("instruct");
    var btn = document.getElementById("instruct_btn");

    if (instruct.style.display === "none") {
      instruct.style.display = "block";
      btn.innerHTML = "Verstecke Instruktionen";
    } else {
      instruct.style.display = "none";
      btn.innerHTML = "Zeige Instruktionen";
    }
  }
</script>