{% load otree static %}

<div class="row">
  <div class="col">
    <br>
    <p>
      <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#Instruct" aria-expanded="false" aria-controls="Instruct"> Zeige Instruktionen
      </button><br>
    </p>
    <p>
    <div class="collapse" id="Instruct">
      <div class="card card-body">
      <p>
        <b>Hinweis</b>: Sollten Sie während des Experiments fragen haben, melden Sie sich mit Hilfe der Chatfunktion
        in der Webex-Konferenz beim Administrator.

      </p>
      {% include "truncated_reporting/explanation.html" %}

      <h3> Details zum Auszahlungsmechanismus </h3>
      {% include "truncated_reporting/payment_details.html" %}
      {% include  "truncated_reporting/payment_examples.html" %}

      </div>
    </div>

  </div>
</div>

