#TODO: Make treatment specific and implement BDM mechanism


Herzlichen Willkommen zu dieser Studie. In dieser Studie geht es darum, dass Sie unterschiedliche Lotterien bewerten. Genauer gesagt fragen wir Sie nach dem Preis, den Sie für die jeweilige Lotterie maximal zu zahlen bereit wären. Am Ende des Experiments wird ein Preis zwischen 0 und 10 Euro zufällig ausgewählt. Sollte dieser Preis unter ihrem Maximalpreis liegen erhalten Sie die Lotterie. Andernfalls erhalten Sie den Preis als Geldbetrag ausgezahlt. Bitte beachten Sie, dass Sie so einen Anreiz haben ihren echten Maximalpreis zu nennen (wenn Sie einen tieferen Preis angeben erhalten Sie die Lotterie zu selten).

Sie erhalten nicht die volle Information über die Lotterie. Sie erhalten eine Beschreibung, sowie einige Zufallszüge der Lotterie angezeigt.
