{% load otree %}

<h3> Instruktionen </h3>
<p>
    In dieser Studie geht es darum, dass Sie zehn unterschiedliche Lotterien kaufen können.
    <b>Genauer gesagt fragen wir Sie nach dem Maximalpreis, den Sie für die jeweilige Lotterie zu zahlen bereit wären.</b>
    Am Ende des Experiments wird eine der Lotterien, die Sie bewertet haben, zufällig für die zusätzliche Auszahlung
    ausgewählt.
</p>
<p>
    <b>Bitte geben Sie für jede Lotterie Ihren wahren Maximalpreis an.</b> Ein Auszahlungsmechanismus wird im Anschluss an das Experiment
    Ihre genaue Auszahlung bestimmen.
    <b>Beachten Sie, dass Sie durch den verwendeten Auszahlungsmechanismus einen Anreiz haben Ihren echten Maximalpreis zu nennen.</b>
    Wenn Sie einen tieferen Maximalpreis angeben, erhalten Sie die Lotterie zu selten. 
    Wenn Sie einen höheren Maximalpreis angeben, erhalten Sie die Lotterie zu oft. Die genauen Details zur Funktionsweise des
    Auszahlungsmechanismus
    können Sie sich bei Interesse am Ende der Seite einblenden lassen.
</p>
<p>
    Im Experiment verwenden wir eine fiktive Geldeinheit namens Taler.
    Im Anschluss an das Experiment werden die Taler in Euro umgerechnet und Ihnen ausgezahlt.
    Dabei entsprechen {{exchange_rate}} Taler einem Euro.
</p>

{% if player.treatment != "FULL" %}
<p>
    <b>Beachten Sie:</b>

    {% if player.treatment == "TRUNCATED"%}
    Sie erhalten nicht die volle Information über die jeweiligen Lotterien. Sie erhalten jedoch eine Beschreibung der
    Lotterien.
    {% elif player.treatment == "FULL_BEST" %}
    Außerdem werden Ihnen fünf Züge aus der jeweiligen Lotterie angezeigt. Dies sind die fünf Züge mit der höchsten
    Auszahlung aus ingesamt 250 Zufallszügen.
    {% else %}
    Sie erhalten nicht die volle Information über die jeweiligen Lotterien. Sie erhalten jedoch eine Beschreibung der
    Lotterien.
    Außerdem werden Ihnen fünf Züge aus der jeweiligen Lotterie angezeigt. Dies sind die fünf Züge mit der höchsten
    Auszahlung aus ingesamt 250 Zufallszügen.
    {% endif %}
</p>
{% endif %}