{% load otree %}

<h3> Instructions </h3>
<p>
    In this study you can buy ten different lotteries.
    <b>More precisely, we will ask for the maximum price you are willing to pay for each lottery.</b>
    At the end of the experiment, one of the lotteries you rated will be randomly selected for the additional payoff.
</p>
<p>
    <b>Please indicate your true maximum price for each lottery.</b> A payment mechanism will determine your exact payoff following the experiment.
    <b>Note that the payment mechanism used gives you an incentive to indicate your true maximum price.</b>
    If you enter a lower maximum price, you will rarely receive the lottery.
    If you enter a higher maximum price, you will receive the lottery too often. If you are interested, you can
    view the exact details of how the payment mechanism works at the bottom of the page.
</p>
<p>
    In the experiment we use a fictitious monetary unit called coins.
    After the experiment, the coins will be converted into euros and paid out to you.
    Here {{exchange_rate}} coins are equivalent to one euro.
</p>

{% if player.treatment != "FULL" %}
<p>
    <b>Note:</b>

    {% if player.treatment == "TRUNCATED"%}
    You do not get complete information about each lottery. However, you will get a description of the lotteries.
    {% elif player.treatment == "FULL_BEST" %}
    Before each decision, we will show you five moves from the relevant lottery.
    These are the five moves with the highest payoff out of a total of 250 random moves.
    {% else %}
    You do not get complete information about each lottery. However, you will get a description of the lotteries.
    Additionally, before each decision, we will show you five moves from the relevant lottery.
    These are the five moves with the highest payoff out of a total of 250 random moves.
    {% endif %}
</p>
{% endif %}

