{% extends "global/Page.html" %}

{% load otree %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<p>
  Welcome to today's experiment. <b>For showing up on time you receive {{show_up}}.</b>
  You can earn additional money through your decisions during the experiment.
  Please carefully read the instructions below.
  If you have any questions during the experiment, use the chat function in the Webex conference to reach out to the
    administrator.
</p>

<p>
  <b> Note:</b> You remain completely anonymous to us and to the other experiment participants.
  We do not store any data associated with your name.

</p>
{% include "truncated_reporting/explanation.html" %}
<p>
  Please klick "Next", as soon as you understood the instructions to start the experiment.
</p>
<table>
  <tr>
    <td class="align-top">
      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#paymentMechanism"
        aria-expanded="false" aria-controls="paymentMechanism">
        Details on the payment mechanism
      </button>
    </td>
    <td>
      {% next_button %}
    </td>
  </tr>
</table>
<div class="collapse" id="paymentMechanism">
  <div class="card card-body">
    {% include "truncated_reporting/payment_details.html" %}
    {% include  "truncated_reporting/payment_examples.html" %}

  </div>
</div>





{% endblock %}