{% extends "global/Page.html" %}

{% load otree %}

{% block title %}
Herzlichen willkommen
{% endblock %}

{% block content %}
<p>
  Herzlich willkommen zum heutigen Experiment. <b>Für Ihr pünktliches Erscheinen erhalten Sie {{show_up}}.</b> 
  Durch Ihre Entscheidungen während des Experiments können Sie zusätzlich Geld verdienen.
  Bitte lesen Sie sich die unten aufgeführten Instruktionen gut durch. 
  Sollten Sie während des Experiments Fragen haben, melden Sie sich mit Hilfe der Chatfunktion in der Webex-Konferenz beim Administrator.
</p>

<p>
 <b> Hinweis:</b> Sie bleiben für uns und für die anderen Experimentteilnehmer:innen völlig anonym.
     Wir speichern keine Daten, die mit Ihrem Namen in Verbindung stehen.

</p>
{% include "truncated_reporting/explanation.html" %}
<p>
Bitte klicken Sie weiter "Weiter", sobald Sie die Instruktionen verstanden haben, um mit dem Experiment zu beginnen.
</p>
{% next_button %}
{% endblock %}
