<div class="row">
  <div class="col">
    <p>
      <b>
        Below you find information about the lottery that you can buy.
        {% if player.treatment == 'BEST' or player.treatment == 'FULL_BEST' %}
          {% if player.treatment == 'BEST' or player.treatment == 'FULL_BEST' %}
            Moreover, you see the highest {{Constants.draws}} values of in total
              {{Constants.sample_size}} random lottery draws.
          {% else %}
            Moreover you see {{Constants.draws}} random values of in total
              {{Constants.sample_size}} random lottery draws.
          {% endif %}
        {% endif %}
      </b>
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table" style="text-align: center">
      <thead>
        <tr class="table-primary">
          <th>Lottery</th>
        </tr>
        <tr>
          <td> {{lottery_text}} </t>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% if player.treatment == 'BEST' or player.treatment == 'FULL_BEST' %}
<div class="row">
  <div class="col">
    <table class="table" style="text-align: center">
      <thead>
        <tr class="table-primary">
          <th colspan="2">Lottery draws</th>

        </tr>
        <tr class="table-primary">
          <th class="w-50">#</th>
          <th class="w-50">Value</th>
        </tr>
      </thead>
      <tbody>
        {% for draw in subsample %}
        <tr>
          <td class="w-60"> Draw {{ forloop.counter }} </td>
          <td class="w-40"> {{draw}} Coins </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{% endif %}

