{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
    <div class = "ball_grid sub_box2">
    {% for color in ball_colors %}
    <svg height="16" width="16">
    <circle cx="8" cy="8" r="7.5" fill="{{ color }}" />
    </svg>
    {% endfor %}
    </div>

    {% next_button %}

{% endblock %}

{% block style %}
.ball_grid{
    width: 60%;
    margin: auto;
    display: grid;
    align: center;
    grid-auto-flow: column;
}

{% endblock %}