<div class="row" id="id_nudge">
    <div class="col">
      <div class="card border" >
        <div class="card-body " style="text-align: center; vertical-align: middle;">
          <p>
            <b>Note: </b>
          </p>
          <ul>
            <li>{{ payoff_mid }} and {{ payoff_high }} coins are <b>not equally likely.</b></li>
            <li>Of the last {{Constants.last_n_draws}} random lottery draws, <b>{{x_mid_draws}} draws were equal
               to {{ payoff_mid }} coins</b> and <b>{{y_high_draws}} draws were equal to {{ payoff_high }} coins.</b></li>
          </ul>          
          <span id="id_wait_for_decision" style=" font-style: italic"> 
            You will be able to enter your belief and your willingness to pay in <span id='id_sec_timer'>15</span> seconds.
          </span>

        
        </div>
      </div>
    </div>
  </div>

<script>
var counter = 15;
var interval = setInterval(function() {
    counter--;
    document.getElementById("id_sec_timer").innerHTML = counter; 
    // Display 'counter' wherever you want to display it.
    if (counter == 0) {
        // Display a login box
        clearInterval(interval);
        document.getElementById("id_decision_area").style.display = 'inline'; 
        document.getElementById("id_wait_for_decision").style.display = 'none';

        // Start belief decision timer
        start_decision_timeout()

    }
}, 1000);
    



</script>

<style>
  ul {
    text-align: center;
    list-style-position: inside;
}

</style>