<p>
<h5>Beispiel 1:</h5>
Die Lotterie zahlt mit einer Wahrscheinlichkeit von 40% genau 50 Taler und an­de­rn­falls nichts. Sie geben an,
dass Sie bereit sind maximal 20 Taler zu bezahlen,
um die Lotterie zu spielen. Im Anschluss wird eine Zufallszahl zwischen 0 und 50 gezogen, die den Preis von 15
Talern bestimmt. Da dieser Preis niedriger als Ihr
Maximalpreis ist, spielen Sie die Lotterie. Ein Zufallszug aus der Lotterie bestimmt ihre Auszahlung.
</p>
<p>
<h5>Beispiel 2:</h5>
Die Lotterie zahlt mit einer Wahrscheinlichkeit von 20% genau 0 Taler, mit 30% genau 60 Taler und mit 50% genau
70 Taler. Sie geben an, dass Sie bereit sind maximal 30 Taler zu bezahlen,
um die Lotterie zu spielen. Im Anschluss wird eine Zufallszahl zwischen 0 und 70 gezogen, die den Preis von 35
Talern bestimmt. Da dieser Preis größer als Ihr
Maximalpreis ist, spielen Sie die Lotterie nicht. Sie erhalten den Preis von 35 Talern als Auszahlung.
</p>