{% extends "global/Page.html" %}

{% load otree %}

{% block title %}
Verständnisfragen
{% endblock %}

{% block content %}
<p>
    Bitte beantworten Sie die unten aufgeführten Verständnisfragen. Sie können sich die
    Instruktionen jeder Zeit am unteren Ende dieser Seite anzeigen lassen.
</p>

<p>
<h5> Frage 1 </h5>
{% formfield player.conversion_check%}
</p>

<p>
<h5> Frage 2 </h5>
{% formfield player.example_1_check%}
</p>

<p>
<h5> Frage 3 </h5>
{% formfield player.example_2_check%}
</p>
<p>
    Bitte klicken Sie weiter "Weiter", sobald Sie die Verständnisfragen beantwortet haben, um mit dem Experiment zu
    beginnen.
</p>
{% next_button %}
{% include "truncated_reporting/dropdown_instructions.html" %}

{% endblock %}