{% load otree static %}

<table class="table borderless" style="text-align: center">
    <tr>
        <td class="w-50 align-middle"> <b>How much are you willing to pay for this lottery?</b></td>
        <td class="w-50 float-right"> 
            
            <div class="form-group required">
                <div class="controls  field-wtp_lottery">
                    <div class="input-group input-group-narrow">
                        <input type="number" name="wtp_lottery" step="1" min="0" max="{{player.max_payoff}}" 
                            required="" id="id_wtp_lottery" class="form-control" data-form-type="other" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">Coins</span>
                        </div>
                        {% if form.wtp_lottery.errors %}
                            {{ form.wtp_lottery.errors.0 }}
                        {% endif %}
                    </div>
                </div>
            </div>

        </td>
    </tr>
</table>


<style>
    .borderless tr,
    .borderless td,
    .borderless th {
      border: none !important;
    }
  
</style>