{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
How strongly do you agree with the following statements? (Page 2 of 2)
{% endblock %}
{% block content %}

<p>
<div class="row">
  <div class="col">
    <b>Are you in general a person who is willing to take risks or do you try to avoid them?</b>
    <table>
      <tr>
        <td class="align-top"> not at all willing to take risks  </td>
        <td>{% formfield player.q_falk_risk label=""%}
        <td>
        <td class="align-top"> very willing to take risks </td>
    </table>
  </div>
</div>
</p>

<p>
<div class="row">
  <div class="col">
    <b>
      Compared to others, are you generally willing to give up something today in order to benefit in the future,
        or compared to others, are you unwilling to do so?
    </b>
    <table>
      <tr>
        <td class="align-top"> not at all willing to do without  </td>
        <td>{% formfield player.q_falk_time label=""%} </td>
        <td class="align-top"> very willing to do without </td>
    </table>
  </div>
</div>
</p>

<p>
<div class="row">
  <div class="col">
    <b>
      Unless I'm convinced otherwise, I always assume other people to have the best in mind.
    </b>
    <table>
      <tr>
        <td class="align-top"> not true at all </td>
        <td>{% formfield player.q_falk_trust label=""%}</td>
        <td class="align-top"> totally true </td>
    </table>
  </div>
</div>
</p>

<p>
<div class="row">
  <div class="col">
    <b>
      Are you a person who is generally willing to punish someone for unfair behavior, even at cost for you, or are
        you not willing to do so?
    </b>
    <table>
      <tr>
        <td class="align-top"> not at all willing to punish </td>
        <td>{% formfield player.q_falk_neg_rec label=""%}</td>
        <td class="align-top"> very willing to punish </td>
    </table>
  </div>
</div>
</p>

<p>
<div class="row">
  <div class="col">
    <b>
      If someone does me a favor, I'm willing to return it.
    </b>
    <table>
      <tr>
        <td class="align-top"> not true at all </td>
        <td>{% formfield player.q_falk_pos_rec label=""%}</td>
        <td class="align-top"> totally true </td>
    </table>
  </div>
</div>
</p>
<p>
  <b>{% formfield player.q_falk_altruism %}</b>
</p>
{% next_button %}


{% endblock %}