{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions (3/3) <hr>
{% endblock %}

{% block content %}
<p>
    Indicating how much a given lottery is worth to you can be a difficult task. In fact, reaching a
    decision might be <b>more difficult for some lotteries than it is for other lotteries.</b> For each
    lottery, before you make your decisions, we ask you <b>how difficult you find it to reach a
    decision</b> in this case (as illustrated in the picture below).
</p>

    <div class="card mx-auto "  style=" max-width: 100%;">
    <div class="card-header">
        <b>Example</b>
    </div>
    <p>
        <div class="text-center">
        <img src="{{ static 'lottery_example_blocked.png' }} "  style=" max-width: 99%;"/>
        </div>
        </p>
    </div>
<br>
<p>
    Once you have answered the question on how difficult you find it to reach your decisions, the
    choice list will be enabled and you can make your decisions.
</p>   
<div style="text-align: right;">
    {% next_button %}
</div>
{% endblock %}


