{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}
<hr>

<p>
    Please read these instructions carefully. There will be comprehension checks. If you fail these,
    you will be excluded from the study and only receive the fixed reward of {{Constants.base_pay}} dollar.
</p>
<p>
    In this study, you will see various lotteries, all of which pay different amounts
    of money with different probabilities.
</p>
<p>
    For the lottery decisions, we use a fictitious monetary unit called coins.
    After the experiment, the coins will be converted into US-dollar.
    Here {{exchange_rate}} coins are equivalent to one US-dollar.
</p>
<p>
    An example lottery is:
</p>
<p>
    <table class="table table-bordered" style="text-align: center">
        <thead>
            <tr class="table-primary" style="border-color: black">
                <th colspan="4">Lottery</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> Probability </th>
                <td> 40 % </td>
                <td> 30 % </td>
                <td> 30 % </td>
            </tr>
            <tr>
                <th> Payoff </th>
                <td> 20 coins </td>
                <td> 40 coins </td>
                <td> 60 coins </td>
            </tr>
        <tbody>
    </table>
</p>

<p>
    This means that the lottery pays <b>either</b> 20 coins <b>or</b> 40 coins <b>or</b> 60 coins
    (with different probabilities), but a
    lottery always only pays out one of the amounts. The lotteries will actually be played out
    by the computer and determine your earnings in exactly the way we describe below.
</p>
<p>
    In total, we have created <b>{{Constants.n_lotteries}} lotteries</b>. For each lottery, we will ask you two questions.
    First, we will ask you <b>how often you think you would win the highest payoff</b> of the lottery.
    After that, we will ask you for the <b>maximum price you are willing to pay</b> for each lottery.    
</p>
<p>
    <b>Please indicate your true maximum price for each lottery.</b> A payment 
    mechanism will determine your exact payoff following the experiment.
    <b>Note that the payment mechanism used gives you an incentive to indicate 
    your true maximum price.</b> If you enter a lower maximum price, you will 
    rarely receive the lottery. If you enter a higher maximum price, you will 
    receive the lottery too often. If you are interested, you can view the exact
    details of how the payment mechanism works at the bottom of the page.
</p>

<p>
    At the end of the experiment, one of the lotteries you rated will be randomly
    selected for the additional payoff. One out every thirty subjects will be 
    randomly selected to receive an additional bonus.
</p>
{% if player.treatment != "FULL" %}
<p>
    <b>Note:</b>

    {% if player.treatment == "TRUNCATED"%}
    You do not get complete information about each lottery. However, you will get a description of the lotteries.
    {% elif player.treatment == "FULL_BEST" %}
    Before each decision, we will show you five draws from the relevant lottery.
    These are the five draws with the highest payoff out of a total of 400 random draws.
    {% else %}
    You do not get complete information about each lottery. However, you will get a description of the lotteries.
    Additionally, before each decision, we will show you five draws from the relevant lottery.
    These are the five draws with the highest payoff out of a total of 400 random draws.
    {% endif %}
</p>
{% endif %}


<p>
    <table width="100%">
        <tr>
          <td class="align-top">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#paymentMechanism"
              aria-expanded="false" aria-controls="paymentMechanism">
              Details on the payment mechanism
            </button>
          </td>
          <td>
            <div style="text-align: right;">
                {% next_button %}
            </div>
            </td>
        </tr>
      </table>
</div>
<div class="collapse" id="paymentMechanism">
    <div class="card card-body">
      {% include "truncated_reporting/payment_details.html" %}
      {% include  "truncated_reporting/payment_examples.html" %}
  
    </div>
  </div>
  
</p>
{% endblock %}

<style>
    .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
    }
</style>