{% load otree %}

<div class="container" style='max-width:970px'>

    <h3>Session</h3>
    <table class="table">
        <tr>
            <th>Session config</th>
            <td>{{ session.config.name }}</td>
        </tr>

        <tr>
            <th>Session code</th>
            <td style="font-family: 'Courier New'">{{ session.code }}</td>
        </tr>

        <tr>
            <th>Experimenter name</th>
        </tr>

    </table>
<h3> URLs for the payment platform</h3>
<div id="urlTable"></div>



    <h3>Summary</h3>
    <table class="table">
        <tr>
            <th>Total payments</th>
            <td>{{total_payoff_all}} </td>
        </tr>
        <tr>
            <th>Mean payment</th>
            <td>{{mean_payoff_all}}</td>
        </tr>
    </table>


    <h3>Notes/Signature</h3>
    <div class="card bg-light">
        <br/>
        <br/>
        <br/>
    </div>
</div>
<script type="text/javascript">
    var create_url_table = (function create_url_table(selector,baseNode=document) {
        const urls_with_id = {{urls_with_id|safe}};
        const tableRow = document.createElement('tr');
        const tableCol = document.createElement('td');
        const tableNode = document.createElement('table');
        
        tableRow.appendChild(tableCol);
        
        urls_with_id.forEach(uri => {
            let row = tableRow.cloneNode(true);
            row.firstChild.innerText = window.location.origin + uri;
            tableNode.appendChild(row);
        });
        baseNode?.querySelector(selector)?.appendChild(tableNode);

        return create_url_table;
    })('#urlTable');
</script>
