{% extends "global/Page.html" %}

{% load otree %}

{% block title %}
Thank you for participating
{% endblock %}
{% block content %}

<p>
The experiment ends now. A random mechanism decided that your decision for the following lottery will be
    used for your payoff:
</p>
    <table class="table" style="text-align: center">
      <thead>
        <tr class="table-primary">
          <th colspan="{{colspan_table}}">Lottery</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table-primary"> Payoff </th>
          {% for payoff in payoffs %}
          <td> {{payoff}} coins</td>
          {% endfor %}
        </tr>

        <tr>
          <th class="table-primary"> Probability </th>
          {% for prob in probs_scaled %}
          <td> {{prob}} %</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
The randomly chosen price is {{relevant_price}}. Your were willing to pay a maximum of {{relevant_wtp}} for this lottery.

{% if lottery_played %}

As the price is lower than or equal to your maximum price, your additional payoff is set by a random draw from the lottery.
This random draw amounts to {{ lottery_payment }} coins.
{% else %}
As the price is higher than your maximum price, you do not play the lottery. You receive the price as additional
    payoff instead.
{% endif %}
  Note that one Euro is equivalent to {{ exchange_rate }} coins.
<p>
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" style="text-align: center"> Summary </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> Relevant lottery </th>
          <td> Lottery {{paid_lottery_round}} </td>
        </tr>
        <tr>
          <th> Your maximum price </th>
          <td> {{relevant_wtp}} </td>
        </tr>
        <tr>
          <th> Price of the lottery </th>
          <td> {{relevant_price}} </td>
        </tr>
        {% if lottery_played %}
          <tr>
            <th> Payoff of the lottery </th>
            <td> {{lottery_payment}} coins</td>
          </tr>
        {% endif %}
        {% if treatment == 'TRUNCATED' or treatment == 'BEST' %}

          <tr>
            <th> Additional payoff for your decision
            </th>
            <td> {{belief_bonus_taler}} coins
                <span class="d-inline-block" data-toggle="popover" data-trigger="hover" data-content="Klicken, um Erklärung einzublenden.">

                  <span class="help" data-toggle="collapse" data-target="#collapseme" >
                    ?
                  </span>
                </span>
            </td>
          </tr>
        <tr id="collapseme" class="collapse out">
          <td  colspan="2"> 
            The probability to receive the extra payment was p = {{win_probability|floatformat:-2}}. This value is
            always between 0 and 1, at a value of 1 you always receive the bonus and at a value of 0 you never do.
            The exact formula is stated below. It ensures that it was in your best interest to state your actual assessment. <br><br>
            <div class="text-center"><img width="100%"  src="{% static "prob_explanation.PNG" %}" /></div>
          </td>
        </tr>

          
        {% endif %}
          <tr>
            <th> Additional payoff in Euro </th>
            <td> {{additional_money}} </td>
          </tr>
          <tr>
            <th> Bonus for showing up on time </th>
            <td> {{show_up}} </td>
          </tr>
          <tr>
            <th> Total payoff in Euro </th>
            <th> {{total_money}} </th>
          </tr>

      </tbody>
    </table>
</p>
<p>
<h2>Please klick here to receive your payoff: </h2>
<a href="{{paymentURL}}" class="btn btn-primary btn-block btn-lg" role="button">To the payoff page</a>
</p>




<script>

$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>

<style>

.help {
    color:#fff;
    background-color:#0062cc;
    width:16px;
    height:16px;
    display:inline-block;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

</style>
{% endblock %}
