{% extends "global/Page.html" %}

{% load otree %}

{% block title %}
Vielen Dank für Ihre Teilnahme
{% endblock %}
{% block content %}

<p>
Das Experiment endet jetzt. Ein Zufallsmechanisum hat entschieden, dass Ihre Entscheidung für die folgende Lotterie 
für Ihre Auszahlung genutzt wird:
</p>
    <table class="table" style="text-align: center">
      <thead>
        <tr class="table-primary">
          <th colspan="{{colspan_table}}">Lotterie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table-primary"> Auszahlung </th>
          {% for payoff in payoffs %}
          <td> {{payoff}} Taler</td>
          {% endfor %}
        </tr>

        <tr>
          <th class="table-primary"> Wahrscheinlichkeit </th>
          {% for prob in probs_scaled %}
          <td> {{prob}} %</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
Der durch den Zufall bestimmte Preis beträgt {{relevant_price}}. Sie waren bereit maximal {{relevant_wtp}} für diese Lotterie zu bezahlen.

{% if lottery_played %}

Da der Preis kleiner oder gleich Ihrem Maximalpreis ist, wird Ihre zusätzliche Auszahlung durch einen Zufallszug aus der Lotterie bestimmt.
Dieser Zufallszug beträgt {{lottery_payment}} Taler.
{% else %}
Da der Preis größer als Ihr Maximalpreis ist, spielen Sie die Lotterie nicht. Sie erhalten stattdessen den Preis als
zusätzliche Auszahlung.
{% endif %}
  Beachten Sie, dass ein Euro umgerechnet {{exchange_rate}} Taler sind.
<p>
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" style="text-align: center"> Zusammenfassung </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> Relevante Lotterie </th>
          <td> Lotterie {{paid_lottery_round}} </td>
        </tr>
        <tr>
          <th> Ihr Maximalpreis </th>
          <td> {{relevant_wtp}} </td>
        </tr>
        <tr>
          <th> Preis der Lotterie </th>
          <td> {{relevant_price}} </td>
        </tr>
        {% if lottery_played %}
          <tr>
            <th> Auszahlung der Lotterie </th>
            <td> {{lottery_payment}} Taler</td>
          </tr>
        {% endif %}
        {% if treatment == 'TRUNCATED' or treatment == 'BEST' %}

          <tr>
            <th> Zusätzlicher Verdienst für Ihre Einschätzung               
            </th>
            <td> {{belief_bonus_taler}} Taler
                <span class="d-inline-block" data-toggle="popover" data-trigger="hover" data-content="Klicken, um Erklärung einzublenden.">

                  <span class="help" data-toggle="collapse" data-target="#collapseme" >
                    ?
                  </span>
                </span>
            </td>
          </tr>
        <tr id="collapseme" class="collapse out">
          <td  colspan="2"> 
            Die Wahrscheinlichkeit die Bonuszahlung zu erhalten betrug p = {{win_probability|floatformat:-2}}. Dieser Wert liegt immer zwischen 0 und 1, wobei 
            Sie bei einem Wert von 1 immer den Bonus bekommen und bei einem Wert von 0 den Bonus nie bekommen. Die genaue Formel ist unten eingeblendet. Sie stellt sicher,
            dass es für Sie im besten Interesse war Ihre tatsächlich Ihrer Einschätzung anzugeben. <br><br>
            <div class="text-center"><img width="100%"  src="{% static "/prob_explanation.PNG" %}" /></div>
          </td>
        </tr>

          
        {% endif %}
          <tr>
            <th> Zusätzlicher Verdienst in Euro </th>
            <td> {{additional_money}} </td>
          </tr>
          <tr>
            <th> Bonus für Ihr pünktliches Erscheinen </th>
            <td> {{show_up}} </td>
          </tr>
          <tr>
            <th> Gesamtauszahlung in Euro </th>
            <th> {{total_money}} </th>
          </tr>

      </tbody>
    </table>
</p>
<p>
<h2>Bitte klicken Sie hier um Ihre Auszahlung zu erhalten: </h2>
<a href="{{paymentURL}}" class="btn btn-primary btn-block btn-lg" role="button">Zur Auszahlungsseite</a>
</p>




<script>

$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>

<style>

.help {
    color:#fff;
    background-color:#0062cc;
    width:16px;
    height:16px;
    display:inline-block;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

</style>
{% endblock %}
